[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-isort = "*"
flake8-quotes = "*"
flake8-print = "*"
flake8-annotations = "*"
isort = "*"
pre-commit = "*"
pytest = "*"
pytest-mock = "*"

[packages]
zappa = "*"
flask-restx = "*"
flask-cors = "*"

[requires]
python_version = "3.8"

[scripts]
flake8 = "flake8 --config setup.cfg"
isort = "isort ."
test = "sh test.sh"
deploy = "zappa update -s zappa_settings.yml development"
